@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 211 75% 8%;
    --foreground: 215 83% 91%;

    --card: 211 46% 13%;
    --card-foreground: 215 83% 91%;

    --popover: 211 36% 18%;
    --popover-foreground: 215 83% 91%;

    --primary: 258 100% 87%;
    --primary-foreground: 265 100% 28%;

    --secondary: 211 36% 18%;
    --secondary-foreground: 215 83% 91%;

    --muted: 211 36% 18%;
    --muted-foreground: 263 9% 59%;

    --accent: 258 100% 74%;
    --accent-foreground: 265 100% 28%;

    --destructive: 6 100% 83%;
    --destructive-foreground: 357 100% 21%;

    --border: 212 29% 22%;
    --input: 211 36% 18%;
    --ring: 258 100% 87%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased selection:bg-primary selection:text-primary-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

